# Numbers and more in Python
We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python
    5.) FIXME : add different type

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.
For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.
<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

In [1]:
# First, numbers are objects in python
(1).__doc__

"int([x]) -> integer\nint(x, base=10) -> integer\n\nConvert a number or string to an integer, or return 0 if no arguments\nare given.  If x is a number, return x.__int__().  For floating point\nnumbers, this truncates towards zero.\n\nIf x is not a number or if base is given, then x must be a string,\nbytes, or bytearray instance representing an integer literal in the\ngiven base.  The literal can be preceded by '+' or '-' and be surrounded\nby whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.\nBase 0 means to interpret the base from the string as an integer literal.\n>>> int('0b100', base=0)\n4"

### Basic Arithmetic

In [ ]:
# Addition
2+1

In [ ]:
# Subtraction
2-1

In [ ]:
# Multiplication
2*2

In [ ]:
# Division
3/2

In [5]:
# Floor Division
7//4

1

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [ ]:
# Modulo
7%4

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

### Arithmetic continued

In [6]:
# Powers
2**3

8

In [ ]:
# Can also do roots this way
4**0.5

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

## Comparison Operators 
Comparison Operators in Python allow us to compare variables and output a Boolean value (True or False). 

<h3> Table of Comparison Operators </h3><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [1]:
2 == 2

True

In [2]:
1 == 0

False

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [3]:
2 != 1

True

In [4]:
2 != 2

False

#### Greater Than

In [5]:
2 > 1

True

In [6]:
2 > 4

False

#### Less Than

In [7]:
2 < 4

True

In [8]:
2 < 1

False

#### Greater Than or Equal to

In [9]:
2 >= 2

True

In [10]:
2 >= 1

True

#### Less than or Equal to

In [11]:
2 <= 2

True

In [12]:
2 <= 4

True

## Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In [ ]:
1 < 2 < 3

Equivalent to

In [ ]:
1<2 and 2<3

In [ ]:
1 < 3 > 2

In [ ]:
1<3 and 3>2

In [ ]:
1==2 or 2<3

In [ ]:
1==1 or 100==1

## Booleans

In [ ]:
# Set object to be a boolean
a = True

In [ ]:
#Show
a

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [ ]:
# Output is boolean
1 > 2

We can use None as a placeholder for an object that we don't want to reassign yet:

In [ ]:
# None placeholder
b = None

In [ ]:
# Show
print(b)

## Transtyping

In [7]:
# Numerical convertion
a = "12  dfsdf "
a = '12  dfsdf '

a = '12' # a is a string
b = float(a) #b is a float
b

12.0

In [8]:
# String convertion Conversion en chaîne de caractères
a = str(15)
a

'15'

In [9]:
# Checking the new type
type(a)

str

In [10]:
type(b)

float