# List (Dict) Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list (dict) comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [1]:
# Grab every letter in string
lst = [x for x in 'word']

In [2]:
# Check
lst

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension : same idea the mathematical notation for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [3]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [4]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 3
Let's see how to add in <code>if</code> statements:

In [5]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [6]:
lst

[0, 2, 4, 6, 8, 10]

## Example 4
Can also do more complicated arithmetic:

In [7]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

In [ ]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

## Example 6

In [9]:
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]

In [10]:
# First method
single_word_list =[]

for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [11]:
single_word_list  = [word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

## Example 7

In [ ]:
#list comp with if statement
vowels = ['a','e','i','o','u']

vowels_from_sentence =[]

for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)

print(vowels_from_sentence)

In [ ]:
vowels_comp = [word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(vowels_comp)

## Example 8

In [14]:
#Dict comprehension
squared_dictionary = {'key_'+str(num) : num**2 for num in range(0, 25)}
print(squared_dictionary)

{'key_0': 0, 'key_1': 1, 'key_2': 4, 'key_3': 9, 'key_4': 16, 'key_5': 25, 'key_6': 36, 'key_7': 49, 'key_8': 64, 'key_9': 81, 'key_10': 100, 'key_11': 121, 'key_12': 144, 'key_13': 169, 'key_14': 196, 'key_15': 225, 'key_16': 256, 'key_17': 289, 'key_18': 324, 'key_19': 361, 'key_20': 400, 'key_21': 441, 'key_22': 484, 'key_23': 529, 'key_24': 576}

In [ ]:
#loop way
students_data = {1:['Omar Amrani', 24] , 2:['Mehdi Zine',25], 3:['Hicham Cherkaoui', 26], 4:['Saif Ansari',24], 5:['Huzefa Nasar',27]}
names_dict ={}
#iterate over each key, val pair
for roll_num,details in students_data.items():
    if roll_num%2==0:
        names_dict[roll_num]= details[0]
        
print(names_dict)

In [15]:
students_data = {1:['Omar Amrani', 24] , 2:['Mehdi Zine',25], 3:['Hicham Cherkaoui', 26], 4:['Saif Ansari',24], 5:['Huzefa Nasar',27]}

names_dict = {key:value[0] for key,value in students_data.items() if key%2 == 0} 
names_dict

{2: 'Mehdi Zine', 4: 'Saif Ansari'}